<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar }"></div>

<div class="detail">
    <h2>게시글 상세 페이지</h2>
    <img src="https://placehold.co/300">
    <h4 th:text="${ '제목 : ' + detail.title}">제목</h4>
    <p th:text="${ '작성자 : ' + detail.username}">유저</p>
    <p th:text="${ '내용 : ' + detail.content}">내용</p>
</div>
</body>
</html>